#wrap{
    width:100%;
    #main {
        width:100%;
        #section7 {
            padding:40px 0;
            width:100%;
            .container {
                width: 100%;
                max-width: 1050px;
                margin: 0  auto;
                .content {
                    width:100%;
                    a {
                        display: block;
                        width:100%;
                        img {
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}