#footer {
    width:100%;
    padding:30 0 40px 0;
    background: #fff;
    .row1 {
        width:100%;
        .container {
            width:100%;
            max-width: 1050px;
            margin:0 auto;
            .row1-row1 {
                width:100%;
                display: flex;
                justify-content: space-between;
                .left {
                    width:50%;
                    ul {
                        li {
                            &:nth-child(1){
                                color:#333;
                                h2 {
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                                div {
                                    padding: 20px 0;
                                    font-size: 16px;
                                    font-weight: 700;
                                    a{
                                        font-size: 28px;
                                        font-weight: 700; 
                                        margin: 0 10px 0 0;
                                        vertical-align: bottom;   
                                    }                                    
                                }
                            }
                            &:nth-child(2){
                                div {
                                    padding: 7px 0;
                                    display: flex;
                                    font-size: 14px;
                                    a {
                                        width: 140px;
                                        height: 40px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #333;
                                        border:1px solid #ddd;
                                    }
                                    span {
                                        margin: 0 0 0 15px;
                                        line-height: 130%;
                                        color: #999;
                                    }
                                }
                            }
                            &:nth-child(3){
                                padding: 20px 0 0 0;
                                font-size: 12px;
                                line-height: 140%;
                                p {
                                    color:#999;
                                    a {
                                        color:#999;
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    width:50%;
                    ul {
                        li {     
                            &:nth-child(1){
                                a {
                                    font-size: 14px;                                    
                                    color:#333;
                                    margin: 0 14px 0 0;
                                    letter-spacing: -0.8px;
                                    font-weight: 500;
                                }
                            }
                            &:nth-child(2){
                                padding: 30px 0 35px 0;
                                line-height: 140%;
                                color:#666;
                                font-size: 12px;
                                i{
                                   margin:0 10px;color:#ccc;
                                   font-size: 10px;
                                }
                                a{
                                   color:#5f0080;
                                   margin:0 0 0 6px;
                                }
                            }
                            &:nth-child(3){
                                display: flex;
                                a {
                                    display: block;
                                    width:30px;
                                    height:30px;
                                    background: url() no-repeat 50% 50%;
                                    background-size: cover;
                                    border-radius: 50%;
                                    margin: 0 10px 0 0;
                                    &:nth-child(1){background-image: url(../images/intro/ico_instagram.png);}
                                    &:nth-child(2){background-image: url(../images/intro/ico_fb.png);}
                                    &:nth-child(3){background-image: url(../images/intro/ico_blog.png);}
                                    &:nth-child(4){background-image: url(../images/intro/ico_naverpost.png);}
                                    &:nth-child(5){background-image: url(../images/intro/ico_youtube.png);}
                                }
                            }
                        }
                    }
                }
            }
            .row1-row2 {
                width:100%;
                padding: 30px 0;
                ul {
                    width:100%;
                    display: flex;
                    li {                        
                        width:25%;
                        a {
                            display: flex;
                            img {
                                height:34px;
                            }
                            span {
                                font-size: 10px;
                                color:#999;
                                line-height: 120%;
                                letter-spacing: -0.5px;
                                padding: 0 0 0 12px;
                            }
                            
                        }
                        &:nth-child(3){
                            a{
                                img{
                                    height:32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .row2 {
        background: #f6f6f6;
        padding: 30px 0 40px 0;
        .container {
            width:100%;
            max-width: 1050px;
            margin:0 auto;
            .content {
                font-size: 10px;
                color:#999;
                text-align: center;
                p {
                    line-height: 140%;
                }
                strong {
                    padding: 10px 0 0 0;
                    display: block;
                   text-transform: uppercase;
                }
            }
        }    
    }
}