#wrap {
    width:100%;
    #topModal {
        width:100%;
        background: #5f0080;
        .container {
            width:100%;
            max-width: 1050px;
            margin: 0 auto;         
            .content {
                position: relative;
                height: 42px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width:100%;
                    height:100%;
                    color:#fff;
                    font-size:14px;                    
                    h2 {
                        strong {}
                    }
                    span {
                        position: absolute;
                        right:0;
                        top:0;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}