.main-sub {
    width:100%;
    #section1 {        
        width:100%;
        .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
            .gap {
                width:100%;
                padding: 0 9px;
                .title {
                    width:100%;
                    text-align: center;
                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color:#333;
                    }
                }
                .content {
                    width:100%;
                    a {
                        display: block;
                        width:100%;
                        img {
                            width:100%;
                        }
                    }
                }
            }
        }
    }
    #section2 {
        padding: 60px 0 100px 0;
        .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
            .gap {
                width:100%;
                .title{
                    width:100%;
                    text-align: center;
                    padding: 0 0 70px 0;
                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color:#333;
                    }
                }
                .content{
                    width:100%;
                    display: flex;

                    .left {
                        width: 25% * 1;
                        padding: 0 47px 0 9px;
                        position: sticky;
                        left:0;
                        top:80px;
                        height: 100vh;
                        overflow-Y: auto;
                        // 수직스크롤 바 
                        &::-webkit-scrollbar{
                            width: 0;
                        }
                        &::-webkit-scrollbar-track{
                            background: #f0f0f0;
                        }
                        &::-webkit-scrollbar-thumb{
                            background: #5f0080;
                        }

                        .left-header {
                            width: 100%;
                            height: 41px;   
                            display: flex;
                            justify-content: space-between;
                            span{
                                font-size: 15px;
                                font-weight: 500;
                                &:first-child{
                                    color:#333;
                                }
                                &:last-child{
                                    color:#ccc;
                                }
                            }
                        }
                        .category {
                            width:100%;
                            > ul {
                                width:100%;
                                > li {
                                    width:100%;
                                    border-top: 1px solid #ddd;
                                    height: auto;
                                    overflow: hidden;
                                    transition: all 0.3s ease-in-out;
                                   
                                    &:nth-child(1){
                                        //height: 362px + 52px;
                                    }
                                    &:nth-child(2){
                                        //height: 454px + 52px;
                                        //height: 398.25px + 52px;
                                    }
                                    &:nth-child(3){
                                        //height: 172px + 52px;                                       
                                    }
                                    &:nth-child(4){
                                        //height: 96px + 52px;                                       
                                    }
                                    &:nth-child(4){
                                        //height: 96px + 52px;                                       
                                    }
                                    &:nth-child(5){
                                        //height: 94.25px + 52px;                                       
                                    }
                                    &:nth-child(6){
                                        //height: 58px + 52px;                                       
                                    }
                                    > a {
                                        display: flex;
                                        width:100%;
                                        height: 52px;
                                        align-items: center;
                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #333;
                                        position: relative;
                                        &::after {
                                            content:'';
                                            width:18px;
                                            height: 100%;
                                            position: absolute;
                                            top:0;
                                            right:0;
                                            background: url(../../../../../public/images/sub/sub01/icon_arrow_up_down.svg) no-repeat 50% 50%;                                            
                                        }
                                        &.on{
                                            &::after {
                                                transform: rotate(-180deg);
                                            }
                                        }
                                    }
                                    .sub {
                                        ul {padding:0 0 20px 0;
                                            li {
                                               
                                                padding:10px 0;
                                                button {
                                                    background: none;
                                                    border: 0;
                                                    font-size: 14px;
                                                    padding: 0 0 0 28px;
                                                    background: url(../../../../../public/images/sub/sub01/icon_check_off.svg) no-repeat 0 50%;
                                                    cursor: pointer;
                                                    &:hover {
                                                        color:#5f0080;
                                                    }
                                                    &.on {
                                                        background-image: url(../../../../../public/images/sub/sub01/icon_check_on.svg)
                                                    }
                                                }
                                                strong {
                                                    color:#ccc;

                                                    font-size: 14px;
                                                    margin: 0 0 0 10px;
                                                }
                                            }
                                        }
                                    }

                                    &:nth-child(2){
                                        .tab-btn{
                                            padding: 0 0 20px 0;
                                            button { // 탭버튼
                                                border: 0;
                                                background: none;
                                                font-size: 14px;
                                                font-weight: 500;
                                                color:#333;
                                                cursor: pointer;
                                                &.on {
                                                    color:#5f0080;
                                                }
                                                &:last-child {                                                  
                                                    margin: 0 0 0 20px;                                                    
                                                }
                                            }
                                        }
                                        .sub.sub2.sub2-1 {
                                           .ganada-order {
                                                letter-spacing: -1px;
                                                padding: 0 0 10px 0;
                                                a {
                                                    display: inline-flex;
                                                    height: 22px;
                                                    align-items: center;
                                                    padding: 0 4px 2px 4px;
                                                    font-size: 13px;
                                                    &.on {
                                                        background: #333;
                                                        color:#fff;
                                                    }
                                                }
                                           } 

                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right {
                        width: 25% * 3;
                        .right-header {
                            width:100%;
                            padding: 0 18px;
                            width: 100%;
                            height: 41px;   
                            display: flex;
                            justify-content: space-between;
                            span {
                                font-size: 15px;
                                font-weight: 500;
                                &:first-child{
                                    color:#333;
                                }
                                &:last-child{
                                    a {
                                        color:#999;
                                        margin: 0 0 0 20px;
                                        font-weight: 500;
                                        &.on{
                                            font-weight: 600;
                                            color:#000;
                                        }
                                    }
                                }                                
                            }
                        }
                        .product {
                            width:100%;
                            padding: 0 9px;
                            ul {
                                width:100%;
                                display: flex;
                                flex-flow: row wrap;
                                li {
                                    width:33.333%;
                                    .gap {
                                        padding:0 9px;
                                        a {
                                            width:100%;
                                            display: block;
                                            .img-box {
                                                width:100%;
                                                position: relative;
                                                > img {
                                                    z-index: 1;
                                                    width:100%;
                                                    position: relative;
                                                }
                                                span {
                                                    position: absolute;
                                                    bottom: 20px;
                                                    right: 20px;
                                                    z-index: 2;
                                                    img {width:auto;}
                                                }
                                            }
                                            .txt-box {
                                                width: 100%;
                                                padding: 15px 0 0 0;
                                                ul {
                                                    width: 100%;
                                                    padding: 0 0 40px 0;
                                                    li {
                                                        width: 100%;
                                                        line-height: 160%;
                                                        h4{
                                                            font-size: 14px;
                                                            color:#999;
                                                        }
                                                        h3{
                                                            font-size: 16px;
                                                            color:#333;
                                                        }
                                                        p{
                                                            font-size: 12px;
                                                            color:#999; 
                                                        }
                                                        em{
                                                            font-size: 16px;
                                                            color:rgb(250,98,47);
                                                            font-weight: 800;
                                                        }
                                                        strong{
                                                            margin: 0 0 0 7px;
                                                            font-size: 16px;
                                                            color:#333;
                                                            font-weight: 800;
                                                        }
                                                        span {
                                                            font-size: 14px;
                                                            color:#999;
                                                            text-decoration: line-through;
                                                        }
                                                        h5 {
                                                            font-size: 14px;
                                                            color:#5f0080;
                                                            font-weight: 600;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}