.main-sub {
  width: 100%;
}
.main-sub #section1 {
  width: 100%;
}
.main-sub #section1 .container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.main-sub #section1 .container .gap {
  width: 100%;
  padding: 0 9px;
}
.main-sub #section1 .container .gap .title {
  width: 100%;
  text-align: center;
}
.main-sub #section1 .container .gap .title h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}
.main-sub #section1 .container .gap .content {
  width: 100%;
}
.main-sub #section1 .container .gap .content a {
  display: block;
  width: 100%;
}
.main-sub #section1 .container .gap .content a img {
  width: 100%;
}
.main-sub #section2 {
  padding: 60px 0 100px 0;
}
.main-sub #section2 .container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.main-sub #section2 .container .gap {
  width: 100%;
}
.main-sub #section2 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 70px 0;
}
.main-sub #section2 .container .gap .title h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}
.main-sub #section2 .container .gap .content {
  width: 100%;
  display: flex;
}
.main-sub #section2 .container .gap .content .left {
  width: 25%;
  padding: 0 47px 0 9px;
  position: sticky;
  left: 0;
  top: 80px;
  height: 100vh;
  overflow-Y: auto;
}
.main-sub #section2 .container .gap .content .left::-webkit-scrollbar {
  width: 0;
}
.main-sub #section2 .container .gap .content .left::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.main-sub #section2 .container .gap .content .left::-webkit-scrollbar-thumb {
  background: #5f0080;
}
.main-sub #section2 .container .gap .content .left .left-header {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
.main-sub #section2 .container .gap .content .left .left-header span {
  font-size: 15px;
  font-weight: 500;
}
.main-sub #section2 .container .gap .content .left .left-header span:first-child {
  color: #333;
}
.main-sub #section2 .container .gap .content .left .left-header span:last-child {
  color: #ccc;
}
.main-sub #section2 .container .gap .content .left .category {
  width: 100%;
}
.main-sub #section2 .container .gap .content .left .category > ul {
  width: 100%;
}
.main-sub #section2 .container .gap .content .left .category > ul > li {
  width: 100%;
  border-top: 1px solid #ddd;
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.main-sub #section2 .container .gap .content .left .category > ul > li > a {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  color: #333;
  position: relative;
}
.main-sub #section2 .container .gap .content .left .category > ul > li > a::after {
  content: "";
  width: 18px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../../../../public/images/sub/sub01/icon_arrow_up_down.svg) no-repeat 50% 50%;
}
.main-sub #section2 .container .gap .content .left .category > ul > li > a.on::after {
  transform: rotate(-180deg);
}
.main-sub #section2 .container .gap .content .left .category > ul > li .sub ul {
  padding: 0 0 20px 0;
}
.main-sub #section2 .container .gap .content .left .category > ul > li .sub ul li {
  padding: 10px 0;
}
.main-sub #section2 .container .gap .content .left .category > ul > li .sub ul li button {
  background: none;
  border: 0;
  font-size: 14px;
  padding: 0 0 0 28px;
  background: url(../../../../../public/images/sub/sub01/icon_check_off.svg) no-repeat 0 50%;
  cursor: pointer;
}
.main-sub #section2 .container .gap .content .left .category > ul > li .sub ul li button:hover {
  color: #5f0080;
}
.main-sub #section2 .container .gap .content .left .category > ul > li .sub ul li button.on {
  background-image: url(../../../../../public/images/sub/sub01/icon_check_on.svg);
}
.main-sub #section2 .container .gap .content .left .category > ul > li .sub ul li strong {
  color: #ccc;
  font-size: 14px;
  margin: 0 0 0 10px;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .tab-btn {
  padding: 0 0 20px 0;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .tab-btn button {
  border: 0;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .tab-btn button.on {
  color: #5f0080;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .tab-btn button:last-child {
  margin: 0 0 0 20px;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .sub.sub2.sub2-1 .ganada-order {
  letter-spacing: -1px;
  padding: 0 0 10px 0;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .sub.sub2.sub2-1 .ganada-order a {
  display: inline-flex;
  height: 22px;
  align-items: center;
  padding: 0 4px 2px 4px;
  font-size: 13px;
}
.main-sub #section2 .container .gap .content .left .category > ul > li:nth-child(2) .sub.sub2.sub2-1 .ganada-order a.on {
  background: #333;
  color: #fff;
}
.main-sub #section2 .container .gap .content .right {
  width: 75%;
}
.main-sub #section2 .container .gap .content .right .right-header {
  width: 100%;
  padding: 0 18px;
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
.main-sub #section2 .container .gap .content .right .right-header span {
  font-size: 15px;
  font-weight: 500;
}
.main-sub #section2 .container .gap .content .right .right-header span:first-child {
  color: #333;
}
.main-sub #section2 .container .gap .content .right .right-header span:last-child a {
  color: #999;
  margin: 0 0 0 20px;
  font-weight: 500;
}
.main-sub #section2 .container .gap .content .right .right-header span:last-child a.on {
  font-weight: 600;
  color: #000;
}
.main-sub #section2 .container .gap .content .right .product {
  width: 100%;
  padding: 0 9px;
}
.main-sub #section2 .container .gap .content .right .product ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.main-sub #section2 .container .gap .content .right .product ul li {
  width: 33.333%;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap {
  padding: 0 9px;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a {
  width: 100%;
  display: block;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .img-box {
  width: 100%;
  position: relative;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .img-box > img {
  z-index: 1;
  width: 100%;
  position: relative;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .img-box span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .img-box span img {
  width: auto;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box {
  width: 100%;
  padding: 15px 0 0 0;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul {
  width: 100%;
  padding: 0 0 40px 0;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li {
  width: 100%;
  line-height: 160%;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li h4 {
  font-size: 14px;
  color: #999;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li h3 {
  font-size: 16px;
  color: #333;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li p {
  font-size: 12px;
  color: #999;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li em {
  font-size: 16px;
  color: rgb(250, 98, 47);
  font-weight: 800;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li strong {
  margin: 0 0 0 7px;
  font-size: 16px;
  color: #333;
  font-weight: 800;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li span {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}
.main-sub #section2 .container .gap .content .right .product ul li .gap a .txt-box ul li h5 {
  font-size: 14px;
  color: #5f0080;
  font-weight: 600;
}