#mainSub5 {
  width: 100%;
  padding: 50px 0 60px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#mainSub5 #section1 {
  width: 100%;
}
#mainSub5 #section1 .container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
#mainSub5 #section1 .container .gap {
  width: 100%;
}
#mainSub5 #section1 .container .gap .title {
  width: 100%;
}
#mainSub5 #section1 .container .gap .title h2 {
  text-align: center;
  padding: 0 0 50px 0;
}
#mainSub5 #section1 .container .gap .title p {
  text-align: right;
  font-size: 13px;
  color: #666;
  padding: 0 0 10px 0;
}
#mainSub5 #section1 .container .gap .title p i {
  color: #f00;
}
#mainSub5 #section1 .container .gap .content {
  width: 100%;
  border-top: 2px solid #222;
}
#mainSub5 #section1 .container .gap .content ul {
  width: 100%;
  padding: 0 0 0 0;
}
#mainSub5 #section1 .container .gap .content ul li {
  position: relative;
  padding: 10px 148px 10px 159px;
  flex-flow: row wrap;
}
#mainSub5 #section1 .container .gap .content ul li .msg {
  padding: 0;
  text-indent: 10px;
  font-size: 13px;
  color: #f00;
  width: 100%;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) {
  display: flex;
  align-items: center;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) button {
  width: 118px;
  height: 46px;
  background: #fff;
  border-radius: 3px;
  color: #5f0080;
  border: 1px solid #5f0080;
  margin: 0 0 0 auto;
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) button.on {
  color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) button.address {
  position: relative;
  right: 0;
  top: 0;
  width: 333px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(1) button.address.on {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 118px;
  height: 46px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(2) input[type=password] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(2) input[type=password]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(2) input[type=password]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(2) input[type=password]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(2) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(2) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(3) input[type=password] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(3) input[type=password]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(3) input[type=password]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(3) input[type=password]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(3) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(3) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(4) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(4) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(4) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(4) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(4) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(4) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) button {
  width: 118px;
  height: 46px;
  background: #fff;
  border-radius: 3px;
  color: #5f0080;
  border: 1px solid #5f0080;
  margin: 0 0 0 auto;
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) button.on {
  color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) button.address {
  position: relative;
  right: 0;
  top: 0;
  width: 333px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(5) button.address.on {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 118px;
  height: 46px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) button {
  width: 118px;
  height: 46px;
  background: #fff;
  border-radius: 3px;
  color: #5f0080;
  border: 1px solid #5f0080;
  margin: 0 0 0 auto;
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) button.on {
  color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) button.address {
  position: relative;
  right: 0;
  top: 0;
  width: 333px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(6) button.address.on {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 118px;
  height: 46px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) button {
  width: 118px;
  height: 46px;
  background: #fff;
  border-radius: 3px;
  color: #5f0080;
  border: 1px solid #5f0080;
  margin: 0 0 0 auto;
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) button.on {
  color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) button.address {
  position: relative;
  right: 0;
  top: 0;
  width: 333px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) button.address.on {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 118px;
  height: 46px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(7) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(8) {
  padding: 0 148px 0 159px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(8) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(8) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(8) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(8) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(9) p {
  width: 100%;
  font-size: 13px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) {
  display: flex;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) .radio-box {
  margin: 0 0 0 auto;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) .radio-box label {
  display: inline-flex;
  height: 46px;
  align-items: center;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) .radio-box label input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) .radio-box label input[type=radio]:checked {
  border: 6px solid #5f0080;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(10) .radio-box label span {
  margin: 0 0 0 10px;
  transform: translateY(-2px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) {
  display: flex;
  align-items: center;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) .date-box {
  width: 333px;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) .date-box input {
  width: 30%;
  text-align: center;
  border: 0;
  height: 30px;
  font-size: 16px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) .date-box input::-moz-placeholder {
  font-size: 14px;
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) .date-box input::placeholder {
  font-size: 14px;
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) .date-box input:focus {
  outline: 0;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(11) .date-box i {
  width: 5%;
  text-align: center;
  color: #ddd;
  font-size: 17px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) .radio-box {
  margin: 0 0 0 auto;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) .radio-box label {
  display: inline-flex;
  height: 46px;
  align-items: center;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) .radio-box label input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) .radio-box label input[type=radio]:checked {
  border: 6px solid #5f0080;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(12) .radio-box label span {
  margin: 0 0 0 10px;
  transform: translateY(-2px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) input[type=text] {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 3px;
  margin: auto;
  padding: 0 15px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) input[type=text]:focus {
  outline: 1px solid #777;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) input[type=text]::-moz-placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) input[type=text]::placeholder {
  color: #aaa;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) button {
  width: 118px;
  height: 46px;
  background: #fff;
  border-radius: 3px;
  color: #5f0080;
  border: 1px solid #5f0080;
  margin: 0 0 0 auto;
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) button.on {
  color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) button.address {
  position: relative;
  right: 0;
  top: 0;
  width: 333px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(13) button.address.on {
  position: absolute;
  right: 20px;
  top: 11px;
  width: 118px;
  height: 46px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(14) P {
  width: 100%;
  font-size: 12px;
  line-height: 160%;
  padding: 0 0 15px 0;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) {
  border-top: 1px solid #222;
  padding: 25px 20px 10px 159px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) > label {
  position: absolute;
  left: 20px;
  top: 26px;
  display: inline-flex;
  width: 139px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) > label i {
  margin: 0 0 0 3px;
  color: #f00;
  transform: translateY(-1px);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service {
  height: 46px;
  padding: 0;
  cursor: default;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service label {
  margin: 0 7px 0 0;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../../../../../public/images/sub/sub05_signup/check_off.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service label input[type=checkbox]:checked {
  background-image: url(../../../../../public/images/sub/sub05_signup/check_on.svg);
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service label span {
  margin: 0 0 0 8px;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service em {
  color: #999;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service.sms {
  padding: 0 0 20px 30px;
  height: auto;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service.sms label {
  margin: 0 20px 0 0;
}
#mainSub5 #section1 .container .gap .content ul li:nth-child(15) .service.sms p {
  padding: 15px 0 0 50px;
  font-size: 12px;
  color: #5f0080;
  background: url(../../../../../public/images/sub/sub05_signup/ico_sub_dot.svg) no-repeat 30px 150%;
}
#mainSub5 #section1 .container .gap .content .button-box {
  width: 100%;
  padding: 30px 0 60px 0;
  text-align: center;
}
#mainSub5 #section1 .container .gap .content .button-box button {
  width: 250px;
  height: 52px;
  border: 0;
  background: #5f0080;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}
#mainSub5 #section1 .container .gap .content .button-box button:hover {
  background-color: #8205ab;
}