#postCode {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
#postCode .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#postCode .wrap .container {
  position: relative;
  width: 530px;
  height: 565px;
  background: #fff;
  overflow-y: auto;
}
#postCode .wrap .container .content {
  width: 100%;
}
#postCode .wrap .container .content > ul {
  width: 100%;
  padding: 50px 30px 30px 30px;
}
#postCode .wrap .container .content > ul > li {
  width: 100%;
  padding: 5px 0;
}
#postCode .wrap .container .content > ul > li:nth-child(1) h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
#postCode .wrap .container .content > ul > li:nth-child(1) h2 strong {
  color: #5f0080;
  font-weight: 600;
}
#postCode .wrap .container .content > ul > li:nth-child(1) h2 em {
  color: #333;
}
#postCode .wrap .container .content > ul > li:nth-child(2) p {
  padding: 0 0 25px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
#postCode .wrap .container .content > ul > li:nth-child(3) .input-box {
  width: 100%;
  height: 44px;
  border: 1px solid #ddd;
  padding: 0 15px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
}
#postCode .wrap .container .content > ul > li:nth-child(4) .input-box input {
  width: 100%;
  height: 44px;
  border: 1px solid #ddd;
  padding: 0 15px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
#postCode .wrap .container .content > ul > li:nth-child(5) p {
  font-size: 12px;
  color: #999;
  line-height: 140%;
}
#postCode .wrap .container .content > ul > li:nth-child(6) {
  padding-top: 20px;
}
#postCode .wrap .container .content > ul > li:nth-child(6) button {
  width: 100%;
  height: 44px;
  background: #5f0080;
  color: #fff;
  border: 0;
  cursor: pointer;
}
#postCode .wrap .container .content > ul > li:nth-child(7) {
  line-height: 140%;
  position: relative;
}
#postCode .wrap .container .content > ul > li:nth-child(7) h4 {
  color: #f00;
  font-weight: 400;
}
#postCode .wrap .container .content > ul > li:nth-child(7) h5 {
  color: #333;
  font-weight: 400;
}
#postCode .wrap .container .content > ul > li:nth-child(7) span {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 13px;
}
#postCode .wrap .container .content > ul > li:nth-child(7) span a {
  color: #999;
}
#postCode .wrap .container .content > ul > li:nth-child(7) span a i {
  display: inline-block;
  width: 17px;
  height: 10px;
  padding: 0 15px 0 0;
  background: url(../../../../public/images/intro/ico_arrow_down_11x10.svg) no-repeat 100% 50%;
  background-size: 9px;
  transition: all 0.3s;
}
#postCode .wrap .container .content > ul > li:nth-child(7) span a.on i {
  transform: rotate(180deg) translateX(-5px);
}
#postCode .wrap .container .content > ul > li:nth-child(8) {
  padding: 20px 0 0 0;
}
#postCode .wrap .container .content > ul > li:nth-child(8) div {
  font-size: 12px;
  color: #999;
}
#postCode .wrap .container .content > ul > li:nth-child(8) div ul {
  width: 100%;
}
#postCode .wrap .container .content > ul > li:nth-child(8) div ul li {
  width: 100%;
  line-height: 140%;
}